// ===== Breadcrumbs =======
.breadcrumbs {
	display: inline-flex;
	justify-content: center;
	&__list {
		display: flex;
		justify-content: center;
	}
	&__item {
		@extend %rubik-400;
		font-size: 14px;
		line-height: 1.714;
		color: rgba(34, 41, 51, 0.6);

		padding-right: 20px;
		position: relative;
		&::after{
			content: "/";
			position: absolute;
			right: 7px;
		}
		&:last-child{
			padding-right: 0;
			&::after{
				display: none;
			}
		}
	}
	&__link {
		color: inherit;
	}
}

// ===== Pagination =======
.pagination {
	&__inner {
		display: flex;
		justify-content: center;
	}
	&__list {
		display: flex;
	}
	&__item + .pagination__item {
		margin-left: 15px;
	}
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
		background: #fff;
		border: 1px solid $accent;

		@extend %rubik-400;
		font-size: 16px;
		color: $title;
		transition: all .3s linear;

		&--active,
		&:hover {
			background-color: $accent;
			color: #fff;
		}

		&--next {
			width: 75px;
		}
	}
	
	&__shop-2{
		.pagination__inner{
			justify-content: flex-start;
		}
	}
}

.blue-btn {
	position: relative;
	@extend %rubik-500;
	font-size: 15px;
	color: #fff;
	line-height: 60px;
	display: inline-block;
	height: 60px;
	width: 200px;
	background-color: $accent;
	padding-left: 27px;
}

.blue-btn::after {
	content: url("../images/icons/arrow-right.svg");
	display: block;
	position: absolute;
	width: 22px;
	height: 9px;
	top: 0;
	right: 18px;
	z-index: 1;
}

.slick-dots {
	display: flex;
	justify-content: center;
	margin-top: 15px;
}
.slick-dots button {
	@extend %rubik-500;
	font-size: 11px;
	color: $title;

	margin: 0 6px;
	width: 29px;
	height: 29px;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.3;
}
.slick-active button {
	opacity: 1;
}

.title {
	@extend %dmsans-700;
	font-size: 36px;
	line-height: 1.2;
	text-align: center;
	color: $black;
}


