@import "mixins";
@import "fonts";
@import "jquery.fancybox.min";
@import "ion.rangeSlider.min";
@import "jquery.rateyo.min";
@import "jquery.formstyler";
@import "jquery.formstyler.theme";
@import "slick";

@function max($numbers...) {
	@return m#{a}x(#{$numbers});
}
@function min($numbers...) {
	@return m#{i}n(#{$numbers});
}

//</Подключаем шрифты>=======================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "DMSans";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 30;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
@import "vars";
@import "global";
body {
	color: #191919;
	font-size: 16px;
	line-height: 120%;
	background-color: #fff;
	font-family: DMSans, sans-serif;
	color: #191919;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}

@import "header";
@import "footer";
// @import "home";

//<ОСНОВНОЙ БЛОК>====================================================================================================
.main {
	flex: 1 1 auto;
}
//</ОСНОВНОЙ БЛОК>====================================================================================================
.top {
	background-color: rgba($accent, 0.2);
	height: 125px;
	// text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	&__container {
		text-align: center;
		max-width: 1700px;
		margin: 0 auto;
	}
	&__title {
		@extend %rubik-300;
		font-size: 36px;
		line-height: 0.667;
		color: #222933;

		margin-bottom: 15px;
	}
}

.modal {
	max-width: 470px;
	margin: 0 auto;

	// .modal__form-inner

	&__form-inner {
		padding: 115px 0 120px;
	}

	// .modal__label

	&__label {
		margin-bottom: 25px;

		display: block;
		@extend %rubik-400;
		font-size: 14px;
		color: #436343;
	}

	// .modal__input

	&__input {
		margin-top: 10px;
		padding: 0 15px;

		display: block;
		width: 100%;
		height: 60px;
		border: 2px solid #f6f6f6;

		@extend %rubik-400;
		font-size: 16px;
		color: #436343;
	}

	// .modal__checkbox-inner

	&__checkbox-inner {
		.modal__label {
			margin-bottom: 0;
		}

		margin-bottom: 35px;
		padding: 35px 0;
		display: flex;
		justify-content: space-between;
		border-bottom: 2px solid #f6f6f6;
	}

	// .modal__link

	&__link {
		@extend %rubik-400;
		font-size: 14px;
		color: #436343;
	}

	&__btn-login {
		margin-top: 35px;

		display: block;
		width: 100%;
		background-color: $accent;
		height: 60px;

		@extend %rubik-500;
		font-size: 18px;
		color: #fffefe;
	}

	// .modal__text

	&__text {
		margin-bottom: 25px;

		@extend %rubik-400;
		font-size: 14px;
		color: #436372;
		text-align: center;
	}
	&__btn-create-acc {
		display: block;
		width: 100%;
		height: 60px;
		border: 2px solid $accent;
		background-color: transparent;

		@extend %rubik-500;
		font-size: 18px;
		color: $title;
	}
}

.intro {
	background-color: $orange;
	padding: 100px 0 50px;
	&__container {
		width: 1400px;
		margin: 0 auto;
	}
	&__slider-wrapper {
		display: flex;
		justify-content: space-between;
	}
	&__slider-content {
		width: 50%;
	}
	&__slider-content-inner {
		padding-top: 123px;
		padding-left: 115px;
		padding-right: 150px;
	}
	&__slider-bg {
		width: 50%;
		position: relative;
		margin-left: 65px;
		width: 635px;
		height: 635px;
		border-radius: 50%;
		background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
	}

	&__slider-img {
		position: absolute;
		top: 180px;
		right: 116px;
	}
	&__slider-title {
		@extend %rubik-500;
		font-size: 72px;
		line-height: 70px;
		color: $title;

		margin-bottom: 24px;
	}
	&__slider-text {
		@extend %rubik-400;
		font-size: 18px;
		line-height: 30px;
		color: $blue-midle;

		padding-right: 50px;
		margin-bottom: 35px;
	}
}

.advantages {
	background-color: rgba($orange, 0.2);
	&__wrapper {
		max-width: 1800px;
		min-height: 145px;
		padding: 0 15px;
		margin: 0 auto;
	}

	&__items {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 33.33%;
		padding: 40px 0;
		&:not(:last-child) {
			border-right: 1px solid rgba(36, 63, 77, 0.1);
		}
	}
	&__content-inner {
		padding-left: 75px;
		width: 300px;
	}

	&__item--support {
		.advantages__content-inner {
			position: relative;

			background-image: url("../images/icons/support.svg");
			background-repeat: no-repeat;
			background-position: 0 10px;
			&::after {
				content: "";
				position: absolute;
				left: 35px;
				top: 40px;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background-color: rgba($accent, 0.35);
			}
		}
	}

	&__item--delivery {
		padding: 55px 0;
		.advantages__content-inner {
			position: relative;

			background-image: url("../images/icons/delivery.svg");
			background-repeat: no-repeat;
			background-position: 0 10px;
			&::after {
				content: "";
				position: absolute;
				left: 35px;
				top: 27px;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background-color: rgba($accent, 0.35);
			}
		}
	}

	&__item--payment {
		.advantages__content-inner {
			position: relative;

			background-image: url("../images/icons/credit-card.svg");
			background-repeat: no-repeat;
			background-position: 0 10px;
			&::after {
				content: "";
				position: absolute;
				left: 35px;
				top: 42px;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background-color: rgba($accent, 0.35);
			}
		}
	}

	&__title {
		@extend %dmsans-700;
		font-size: 18px;
		line-height: 40px;
		color: #414141;
	}

	&__text {
		@extend %dmsans-400;
		font-size: 16px;
		line-height: 1.875;
		color: #585858;
	}
}

.products {
	padding-top: 75px;
	padding-bottom: 0;
	&__category-list {
		display: flex;
		align-items: center;
		justify-content: center;

		margin-top: 30px;
	}
	&__category-name {
		@extend %dmsans-700;
		font-size: 16px;
		line-height: 1.2;
		color: $grey;
		transition: color 0.2s linear;
		cursor: pointer;
		&.mixitup-control-active,
		&:hover {
			color: $black;
		}
	}
	&__category-name + .products__category-name {
		margin-left: 32px;
	}
	&__items-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-column-gap: 30px;
		grid-row-gap: 40px;

		margin-top: 45px;
		margin-bottom: 108px;
	}
	&__item {
		position: relative;
		width: 270px;
		height: 380px;
		border-radius: 10px;
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);

		padding-top: 30px;
		padding-bottom: 40px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;

		font-size: 16px;
		line-height: 1.8;
	}
	&__item:hover {
		.products__item-links {
			opacity: 1;
		}
	}
	&__item-photo {
		display: block;
		max-width: 250px;
		align-self: flex-end;
	}
	&__item-name {
		@extend %dmsans-500;
		color: $title;

		margin-top: 60px;
	}
	&__item-price {
		@extend %dmsans-700;
		color: $accent;
	}

	&__item-links {
		opacity: 0;
		position: absolute;
		left: 50px;
		top: 125px;
		width: 170px;
		display: flex;
		justify-content: space-between;
		transition: all 0.3s linear;
	}
	&__item-links {
		svg {
			fill: #a3bbc8;
		}
	}
	&__item-search-box,
	&__item-cart-box,
	&__item-like-box {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fff;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		transition: transform 0.3s linear;
		&:hover {
			transform: translateY(-3px);
			background-color: #a3bbc8;
			svg {
				fill: #fff;
			}
		}
	}
}

.topsales {
	padding: 100px 0 50px;
	&__wrapper {
		max-width: 1800px;
		min-height: 145px;
		padding: 0 15px;
		margin: 0 auto;
	}
	&__items {
		display: flex;
		justify-content: space-between;
		gap: 30px;
	}
	&__item {
		display: flex;
		justify-content: center;
		max-width: 870px;
		width: 100%;
		background-color: rgba($orange, 0.4);

		padding-top: 85px;
		padding-bottom: 85px;
		// margin-top: 100px;
	}
	&__content {
		position: relative;
		width: 605px;
		padding-left: 285px;
		color: $title;
	}
	&__photo {
		position: absolute;
		top: -180px;
		left: 0;
	}
	&__title {
		@extend %dmsans-700;
		font-size: 26px;
		line-height: 1.23;

		margin-bottom: 30px;
	}
	&__text {
		@extend %rubik-400;
		font-size: 16px;
		line-height: 1.87;

		margin-bottom: 30px;
	}
	&__link {
		position: relative;

		display: inline-block;
		padding: 24px 86px 24px 20px;
		border: 1px solid $title;
		border-radius: 5px;

		@extend %rubik-500;
		font-size: 15px;
		line-height: 12px;
		color: $blue-midle;

		&::after {
			content: url("../images/icons/arrow-right-darck-blue.svg");
			position: absolute;
			right: 20px;
		}
	}
}

.design {
	padding: 50px 0;
	&__category-list {
		display: flex;
		align-items: center;
		justify-content: center;

		margin-top: 30px;
	}
	&__category-name {
		@extend %dmsans-700;
		font-size: 16px;
		line-height: 1.2;
		color: $grey;
		transition: color 0.2s linear;
		cursor: pointer;
		&.mixitup-control-active,
		&:hover {
			color: $black;
		}
	}
	&__category-name + .design__category-name {
		margin-left: 32px;
	}
	&__items-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 30px;
		grid-row-gap: 30px;

		margin-top: 68px;
		margin-bottom: 85px;
	}
	&__item {
		position: relative;
		padding: 38px 160px 40px 35px;
		width: 370px;
		height: 246px;
	}

	&__item-photo {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		display: block;
		max-width: 370px;
		object-fit: cover;
	}
	&__item-link {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		color: inherit;
	}
	&__item-name {
		@extend %dmsans-700;
		font-size: 20px;
		line-height: 1.2;

		margin-bottom: 15px;
	}
	&__item-style {
		@extend %dmsans-700;
		font-size: 16px;
		line-height: 1.2;
		color: $accent;
	}
}

.video {
	&__wrapper {
		max-height: 500px;
		height: 500px;
		background-image: url("../images/video-bg.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.articles {
	padding-top: 110px;
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__header-link {
		position: relative;
		@extend %dmsans-700;
		font-size: 16px;
		line-height: 1.2;
		color: #262626;

		padding-right: 26px;
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%) rotate(-45deg);
			// Триугольник
			// border: 4px solid transparent;
			// border-left-color: #262626;
			// Стрелочка
			// FrontEnd tricks
			// https://youtu.be/Ny2jM0B3KyM
			border-width: 0 2px 2px 0;
			border-style: solid;
			border-color: #262626;
			padding: 3.3px;
		}
	}
	&__items {
		padding-top: 40px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: -170px;
	}
	&__item {
		position: relative;
		max-width: 370px;
		min-height: 420px;
		background-color: #fff;
		box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
		border-radius: 5px;
	}
	&__photo-img {
		width: 100%;
		max-height: 250px;
		margin-bottom: 35px;
	}
	&__content {
		height: auto;
		min-height: 134px;
		padding: 0 33px;
		display: flex;
		flex-direction: column;
	}
	&__label {
		position: absolute;
		top: 250px;
		display: inline-block;
		padding: 8px 30px;
		border-radius: 15px;
		background-color: $accent;

		@extend %poppins-700;
		font-size: 14px;
		line-height: 1;
		color: #fff;
		text-transform: uppercase;

		margin-top: -15px;
	}
	&__text-link {
		flex: 1 1 auto;
	}
	&__text {
		@extend %dmsans-500;
		font-size: 18px;
		line-height: 1.2;
		color: #262626;
		padding-bottom: 17px;
	}
	&__footer {
		padding: 20px 5px;
		border-top: 1px solid #e0e0e0;

		@extend %rubik-400;
		font-size: 12px;
		line-height: 1.1;
		text-transform: uppercase;
		color: #222933;
	}
	&__footer-author-link {
		color: inherit;
		margin-left: 30px;
	}
	&__footer-date,
	&__footer-author-link {
		position: relative;
		padding-left: 10px;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: -5px;

			transform: translateY(-50%) rotate(-45deg);
			border-width: 1.5px;
			border-style: solid;
			border-color: #222933;
			background-color: #222933;
			padding: 1.5px;
		}
	}
}

.partners {
	background-color: rgba($orange, 0.2);
	&__logo-inner {
		padding-top: 260px;
		padding-bottom: 90px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
}

.partners--page {
	.partners__logo-inner {
		height: 250px;
		padding: 0;
	}
}

.Log_in {
	font-size: 36px;
	font-family: "Rubik";
	color: rgb(34, 41, 51);
	line-height: 0.667;
	text-indent: 0.45px;
	position: absolute;
	left: 910.61px;
	top: 202.956px;
	z-index: 74;
}

// ===== Terms & Conditions =====
.terms {
	&__inner {
		padding-top: 110px;
	}
	&__item {
		&:not(:last-child) {
			margin-bottom: 70px;
		}
		@extend %rubik-400;
		font-size: 16px;
		line-height: 1.875;
		color: $title;
	}
	&__title {
		margin-bottom: 15px;
		@extend %rubik-500;
		font-size: 24px;
	}
	&__list {
		margin-left: 30px;
		list-style-type: decimal-leading-zero;
	}
	&__list-item {
		padding-left: 5px;
		&:not(:last-child) {
			margin-bottom: 25px;
		}
	}
}

// ===== About Us =====
.mission {
	// .mission__inner

	&__inner {
		padding: 120px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// .mission__left

	&__left {
		max-width: 570px;
		max-height: 676px;
	}

	// .mission__img

	&__img {
		display: block;
		width: 100%;
		height: auto;
		object-fit: cover;
	}

	// .mission__right

	&__right {
		padding: 0 15px;
		max-width: 570px;
	}

	// .mission__num-box

	&__num-box {
		margin-bottom: 40px;
		display: flex;
		max-width: 300px;
		align-items: center;
	}

	// .mission__num

	&__num {
		@extend %rubik-700;
		font-size: 140px;
		color: $accent;
	}

	// .mission__info

	&__info {
		padding-top: 20px;
		padding-left: 25px;
		width: 100px;
		@extend %rubik-400;
		font-size: 16px;
		line-height: 1.875;
		color: $title;
	}

	// .mission__title

	&__title {
		margin-bottom: 35px;

		@extend %dmsans-700;
		font-size: 36px;
		line-height: 1.2;
		color: $title;
	}

	// .mission__text

	&__text {
		padding-bottom: 65px;

		@extend %rubik-400;
		font-size: 16px;
		line-height: 1.875;
		color: $title;
		border-bottom: 3px solid rgba(#09316f, 0.1);
	}

	// .mission__stat-list

	&__stat-list {
		max-width: 530px;
		margin-top: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__stat-item:first-child::before {
		content: url("../images/icons/projects.svg");
		position: absolute;
		width: 36px;
		height: 38px;
		top: 0;
		left: 0;
	}

	&__stat-item:first-child::after {
		content: "";
		position: absolute;
		width: 1px;
		height: 81px;
		top: -25px;
		right: -35px;
		background-color: rgba(#09316f, 0.1);
	}

	&__stat-item:nth-child(2)::before {
		content: url("../images/icons/revenue.svg");
		position: absolute;
		width: 43px;
		height: 39px;
		top: 0;
		left: 0;
	}

	&__stat-item:nth-child(2)::after {
		content: "";
		position: absolute;
		width: 1px;
		height: 81px;
		top: -25px;
		right: -35px;
		background-color: rgba(#09316f, 0.1);
	}

	&__stat-item:nth-child(3)::before {
		content: url("../images/icons/awards.svg");
		position: absolute;
		width: 42px;
		height: 40px;
		top: 0;
		left: 0;
	}

	// .mission__stat-item

	&__stat-item {
		display: flex;
		flex-direction: column;
		@extend %dmsans-700;
		position: relative;
		padding-left: 60px;
	}

	// .mission__stat-num

	&__stat-num {
		@extend %dmsans-700;
		margin-bottom: 12px;

		font-size: 36px;
		color: $title;
	}

	// .mission__stat-unit

	&__stat-unit {
		@extend %dmsans-700;
		font-size: 16px;
		color: #4c4c4c;
	}
}

// ===== Info =====
.info {
	background-color: $orange;
	height: 320px;

	// .info__list

	&__list-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__list {
		width: 100%;
		height: 320px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	// .info__item

	&__item {
		max-height: 160px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	// .info__img
	&__img-box {
		height: 64px;
		margin-bottom: 20px;
	}
	&__img.info__img--products {
		margin-top: 13px;
	}

	// .info__num

	&__num {
		margin-bottom: 15px;

		@extend %dmsans-700;
		font-size: 36px;
		line-height: 32px;
		color: $title;
	}

	// .info__text

	&__text {
		@extend %dmsans-700;
		font-size: 18px;
		line-height: 32px;
		color: $title;
	}
}

// ===== Our team =====
.team {
	// .team__wrapper

	&__wrapper {
		padding-top: 120px;
		margin-bottom: -50px;
		display: flex;
		justify-content: space-between;
	}

	// .team__left

	&__left {
		flex: 0 0 370px;
	}

	// .team__title

	&__title {
		margin-bottom: 30px;

		@extend %dmsans-700;
		font-size: 36px;
		color: $title;
	}

	// .team__text

	&__text {
		margin-bottom: 50px;

		max-width: 300px;
		@extend %rubik-400;
		font-size: 16px;
		line-height: 1.875;
		color: $title;
	}

	// .team__link

	&__link {
		position: relative;
		@extend %poppins-600;
		font-size: 15px;
		line-height: 1;
		color: #fff;

		padding: 14.5px 60px 14.5px 16px;
		background-color: $accent;
		border-radius: 5px;
		&::after {
			content: url("../images/icons/arrow-join.svg");
			position: absolute;
			width: 15px;
			height: 11px;
			top: 18px;
			right: 27px;
		}
	}

	// .team__right

	&__right {
		flex: 0 0 770px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	// .team__item

	&__item {
		margin-bottom: 100px;
		position: relative;
		max-width: 370px;
	}

	// .team__photo

	&__photo {
		object-fit: cover;
	}

	// .team__info-box

	&__info-box {
		position: absolute;
		z-index: 10;
		left: 0;
		bottom: -60px;

		padding: 0 20px 0 23px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #ffffff;
		box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
		width: 325px;
		height: 110px;
	}

	// .team__name

	&__name {
		margin-bottom: 8px;

		@extend %dmsans-700;
		font-size: 22px;
		line-height: 26px;
		color: $blue-midle;
	}

	// .team__prof

	&__prof {
		@extend %rubik-400;
		font-size: 16px;
		line-height: 30px;
	}

	// .team__info-social

	&__info-social {
		display: flex;
		gap: 7px;
	}

	// .team__info-link

	&__info-link {
		display: inline-flex;
		justify-content: center;
		align-items: center;

		width: 40px;
		height: 40px;
		background-color: #f6f6f6;
		border-radius: 50%;
	}

	&__info-link:last-child {
		.team__info-social-img {
			width: 23px;
			height: 15px;
		}
	}

	// .team__info-social-img

	&__info-social-img {
		width: 18px;
		height: 18px;
	}
}

// ===== Product 1 =====

.shop {
	padding: 115px 0 120px;
	&__inner {
		display: flex;
	}
	&__filters {
		width: 370px;
		margin-right: 30px;
	}
}

.filter {
	&__item {
		padding-bottom: 70px;
	}
	&__title {
		display: inline-block;
		position: relative;

		margin-bottom: 25px;
		padding-right: 55px;

		@extend %dmsans-700;
		font-size: 18px;
		line-height: 1.2;
		color: $title;
		text-transform: uppercase;

		&::after {
			content: "";
			position: absolute;
			right: 0;
			top: 9px;
			width: 38px;
			height: 2px;
			border-radius: 1px;
			background-color: $bg;
		}
	}
}

//===== filter category =====
.filter-category {
	&__label {
		display: block;
		margin-bottom: 5px;
		&:last-child {
			margin-bottom: none;
		}
		cursor: pointer;
	}
	&__input {
		@extend %checkbox-hidden;
		&:checked + .filter-category__checkbox {
			background-color: $bg;
		}
	}
	&__checkbox {
		padding: 17px 25px 17px 15px;
		display: flex;
		justify-content: space-between;

		background-color: transparent;
		border-radius: 5px;

		@extend %rubik-400;
		font-size: 16px;
		color: $title;
	}
}

//===== filter price =====
.filter-price {
	&__label {
		margin-top: 25px;
		display: flex;
		justify-content: space-between;
	}
	span {
		@extend %rubik-400;
		font-size: 14px;
		color: $title;
	}
}

//========== irs ===========
.irs--flat {
	height: 30px;
}

.irs--flat .irs-line {
	top: 30px;
	height: 2px;
	background-color: $bg;
	border-radius: 1px;
}

.irs--flat .irs-handle {
	top: 23px;
	width: 15px;
	height: 15px;
	background-color: $accent;
}

.filter-price span {
	margin-top: 0;
}

.irs--flat .irs-bar {
	top: 29px;
	height: 3px;
	background-color: $accent;
}

.irs--flat .irs-handle > i:first-child {
	display: none;
}

.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to {
	display: none;
}

.irs--flat .irs-max,
.irs--flat .irs-min {
	display: none;
}

//===== filter brand =====
.filter-brand {
	&__label {
		display: block;
		margin-bottom: 5px;
		&:last-child {
			margin-bottom: none;
		}
		cursor: pointer;
	}
	&__input {
		@extend %checkbox-hidden;
		&:checked + .filter-brand__checkbox {
			background-color: $bg;
		}
	}
	&__checkbox {
		padding: 17px 25px 17px 15px;
		display: flex;
		justify-content: space-between;

		background-color: transparent;
		border-radius: 5px;

		@extend %rubik-400;
		font-size: 16px;
		color: $title;
	}
}

//===== Recent products =====
.recent {
	&__item-inner {
		padding-top: 20px;
	}
	&__item {
		margin-bottom: 25px;
		&:last-child {
			margin-bottom: 0;
		}
		display: flex;
	}
	&__image-box {
		margin-right: 20px;

		display: flex;
		justify-content: center;
		align-items: center;

		width: 70px;
		height: 70px;
		border: 2px solid #f2f2f2;
		background-color: #fefefe;
	}
	&__img {
		object-fit: cover;
	}
	&__item-info {
		@extend %rubik-400;
		color: #333;
	}
	&__item-title {
		margin-bottom: 11px;

		font-size: 14px;
	}

	&__stars {
		margin-bottom: 11px;
	}
	.jq-ry-container {
		padding: 0;
	}

	&__item-price {
		font-size: 15px;
	}
}

.shop__content {
	.products__items-wrapper {
		margin-top: 0;

		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 30px;
		grid-row-gap: 40px;
	}
}

.shop-2__content {
	.products-2__items-wrapper {
		margin-top: 0;
	}
}

.products-2 {
	&__items-wrapper {
		padding-bottom: 35px;
	}

	&__item {
		margin-bottom: 40px;
		width: 870px;
		height: 500px;
		display: flex;
		align-items: center;
	}
	&__img-box {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 370px;
		height: 500px;
		padding: 25px;
	}
	&__item-photo {
		max-width: 100%;
		height: auto;
		object-fit: cover;
	}
	&__content-box {
		max-width: 500px;
		width: 100%;
		padding: 0 15px 0 60px;
	}
	&__item-name {
		margin-bottom: 30px;

		@extend %rubik-400;
		font-size: 40px;
		color: #333;
	}
	&__stars {
		margin-bottom: 40px;
	}
	&__item-price {
		margin-bottom: 35px;

		@extend %rubik-400;
		font-size: 30px;
		color: #333;
	}
	&__item-text {
		margin-bottom: 25px;

		@extend %rubik-400;
		font-size: 16px;
		line-height: 30px;
		color: $title;
	}

	&__btn {
		display: none;
	}

	&__item-links {
		display: flex;
	}
	&__item-cart-box,
	&__item-like-box {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		box-shadow: 0px 6px 50px rgba(#252525, 0.05);

		transition: all 0.3s linear;
		&:hover {
			background-color: $accent;
			svg {
				fill: #fff;
			}
		}
	}
	&__item-cart-box {
		margin-right: 11px;
	}

	&__item-cart-box svg,
	&__item-like-box svg {
		fill: $accent;
	}
}

.products-2__item--active {
	.products-2__item-links {
		display: none;
	}
	.products-2__btn {
		display: block;
		padding: 16px 51px;

		@extend %rubik-400;
		font-size: 15px;
		letter-spacing: 0.08em;
		color: #fff;
		background-color: $accent;
		border-radius: 5px;
	}
}

.add__btn {
	display: block;
	padding: 16px 51px;
	@extend %rubik-400;
	font-size: 15px;
	letter-spacing: 0.08em;
	color: #fff;
	background-color: $accent;
	border-radius: 5px;
}

// ======= Details =========
.details {
	padding-top: 120px;
	margin-bottom: 70px;
	&__item {
		min-height: 560px;
		// display: flex;
	}
	&__sliders-wrapper {
		// display: flex;
		width: 555px;
		margin-right: 70px;
	}
	&__small-slider {
		// display: flex;
		// justify-content: center;
		// align-items: center;
		margin-right: 25px;

		float: left;
		width: 140px;
		max-height: 530px;
	}
	&__small-slider-item {
		margin-bottom: 20px;

		height: 160px;
		width: 140px;
		padding: 15px;

		cursor: pointer;
	}
	&__small-slider-img {
		display: block;
		margin: 0 auto;
		// width: 100%;
		// max-height: 160px;
		// width: 140px;
		max-height: 130px;
		max-width: 110px;
		object-fit: cover;
	}

	&__big-slider {
		float: left;
		width: 390px;
		margin-right: 70px;
	}
	&__big-slider-item {
		width: 390px;
		padding: 60px 15px;

		height: 530px;
	}
	&__big-slider-img {
		display: block;
		margin: 0 auto;
		// max-height: 410px;
		// max-width: 360px;
		object-fit: cover;
	}

	&__content {
		padding-top: 45px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		float: left;
		width: 545px;

		@extend %rubik-400;
		color: #333;
	}
	&__title {
		margin-bottom: 30px;

		font-size: 40px;
	}
	&__stars {
		margin-bottom: 35px;
	}
	.jq-ry-container {
		padding: 0;
	}
	&__price {
		margin-bottom: 28px;
		font-size: 30px;
	}
	&__descr {
		margin-bottom: 30px;
		font-size: 16px;
		line-height: 30px;
		color: $title;
	}
	&__form {
		display: flex;
	}
	&__input {
		@extend %rubik-400;
		font-size: 15px;
		color: #333;
		text-align: center;
	}
	&__add-btn {
		margin-left: 15px;
	}
	&__info {
		margin-top: 45px;

		font-size: 16px;
		line-height: 30px;
		color: $title;

		a {
			color: inherit;
		}
	}
}

.jq-number__field {
	width: 50px;
	height: 50px;
	display: flex;

	border: 1px solid $accent;
	border-radius: 0;
	box-shadow: none;
}

.jq-number__field input {
	text-align: center;
}

.jq-number__spin {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	border: 1px solid $accent;
	border-radius: 0;
	background: transparent;
	box-shadow: none;

	cursor: pointer;
	&:hover {
		background: none;
	}
}

.jq-number__spin.minus {
	top: auto;
	left: 0px;
	bottom: 0;
	border-right: none;
	&::after {
		content: "-";
		top: 15px;
		left: 22px;
		border: none;
	}
}

.jq-number__spin.plus {
	top: 0;
	right: 0px;
	bottom: 0;
	border-left: none;
	background-color: transparent;
	box-shadow: none;
	&::after {
		content: "+";
		border: none;
		top: 15px;
		left: 21px;
	}
}

.jq-number {
	position: relative;
	vertical-align: middle;
	padding: 0 50px 0 50px;
}

// ==== Tabs =======
.tabs {
	&__titles {
		margin-bottom: 36px;
		display: flex;
		justify-content: center;
	}
	&__title-link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 240px;
		height: 53px;
		border-radius: 5px;
		background-color: rgba($accent, 0.2);

		@extend %rubik-500;
		font-size: 18px;
		color: $title;
		transition: all 0.3s linear;

		&--active,
		&:hover {
			background-color: $accent;
			color: #fff;
		}
	}
	&__title-link + .tabs__title-link {
		margin-left: 13px;
	}

	&__content {
		min-height: 90px;
		@extend %rubik-400;
		font-size: 16px;
		line-height: 30px;
		text-align: left;
		color: $title;
	}

	&__content-item {
		display: none;
		&.tabs__content-item--active {
			display: block;
		}
	}
}

.products-details {
	.products__items-wrapper {
		margin-bottom: 0;
	}
}
.products-details-title {
	text-align-last: left;
}
.products__title-box {
	display: flex;
	justify-content: space-between;
}

.arrow {
	display: flex;
	&__link {
		display: inline-flex;
		width: 50px;
		height: 50px;
		justify-content: center;
		align-items: center;
		border-radius: 5px;
		border: 2px solid transparent;

		&.arrow__link--disabled {
			border-color: rgba($accent, 0.2);
			cursor: default;
		}
		&.arrow__link--active {
			border-color: $accent;
		}
	}
	&__link img {
		display: block;
	}
	&__link-left {
		margin-right: 20px;
	}
}

// ======= Blog ========
.blog {
	padding: 120px 0;
	&__inner {
		display: flex;
		justify-content: space-between;
	}
	&__content {
		max-width: 830px;
		width: 100%;
	}

	& .shop__filters {
		width: 270px;
	}
	&.filter-category .filter__item {
		padding-right: 0;
	}
}

.blog.blog__details{
	padding-bottom: 45px;
}

.search {
	margin-bottom: 55px;
	&__form {
		position: relative;
		width: 270px;
	}
	&__input {
		height: 42px;
		width: 230px;
		padding: 0 19px 0 15px;
		border: 1px solid rgba($accent, 0.6);
		border-radius: 5px;

		@extend %rubik-400;
		font-size: 16px;
		color: $title;

		&:focus {
			border-color: $accent;
		}
	}
	&__btn {
		position: absolute;
		right: 0px;
		width: 48px;
		height: 42px;
		border-radius: 5px;
		background-color: $bg;
		z-index: 1;
	}
}

.recent {
	&__items {
		padding-top: 6px;
	}
	&__item {
		margin-bottom: 25px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 270px;
	}
	&__img-box {
		width: 71px;
		height: 71px;
	}
	&__img {
		display: block;
		height: 100%;
		object-fit: cover;
	}

	&__content {
		max-width: 179px;
	}
	&__post-text {
		margin-bottom: 7px;

		@extend %rubik-400;
		font-size: 14px;
		line-height: 20px;
		color: #333;
	}
	&__post-link {
		color: inherit;
	}
	&__data {
		position: relative;

		padding-left: 20px;

		@extend %rubik-400;
		font-size: 13px;
		color: #9a9a9a;
		&::before {
			content: url("../images/icons/calendar.svg");
			position: absolute;
			width: 11px;
			height: 13px;
			top: 1px;
			left: 0;
		}
	}
}

// ===== Blog Content ======
.blog {
	@extend %rubik-400;
	&__content {
		margin-bottom: 25px;
	}
	&__item {
		margin-bottom: 50px;
	}
	&__img-box {
		position: relative;
		margin-bottom: 35px;
	}
	&__main-img {
		margin-bottom: 45px;
		display: block;
		max-width: 830px;
		height: auto;
		object-fit: cover;
	}
	&__info {
		position: absolute;
		left: 0;
		bottom: 0;

		display: flex;
		justify-content: center;
		align-items: center;

		width: 275px;
		height: 70px;
		background-color: $accent;

		@extend %rubik-400;
		font-size: 12px;
		color: #fff;
		text-transform: uppercase;
	}
	&__info-date,
	&__info-user {
		position: relative;

		padding-left: 20px;

		&::before {
			content: "";
			position: absolute;
			width: 11px;
			height: 13px;
			top: 1px;
			left: 0;
		}
	}

	&__info-date::before {
		background-image: url("../images/icons/calendar-white.svg");
	}
	&__info-user::before {
		background-image: url("../images/icons/user-white.svg");
	}
	&__info-date {
		margin-right: 20px;
	}
	&__user-link {
		color: inherit;
	}

	&__post-title {
		margin-bottom: 25px;
		font-size: 36px;
		line-height: 26px;
		color: #333;
	}
	&__post-text-link,
	&__post-title-link {
		color: inherit;
	}
	&__post-text {
		margin-bottom: 25px;

		font-size: 16px;
		line-height: 1.875;
		color: $title;
	}
	&__post-view-more-link {
		position: relative;

		display: flex;
		align-items: center;
		justify-content: center;
		width: 180px;
		height: 60px;
		border: 1px solid $accent;
		padding-right: 65px;

		@extend %rubik-500;
		font-size: 15px;
		color: $accent;

		&::after {
			position: absolute;
			content: url("../images/icons/detail-arrow-right.svg");
			right: 25px;
		}
	}
}

.blog__post.blog__post--details {
	h3 {
		margin-bottom: 25px;

		font-size: 36px;
		line-height: 26px;
		color: #333;
	}
	h4 {
		margin-bottom: 20px;

		@extend %rubik-500;
		font-size: 18px;
		line-height: 1.675;
		color: $title;
	}
	h5 {
		margin-bottom: 18px;

		@extend %rubik-500;
		font-size: 16px;
		line-height: 1.875;
		color: $title;
	}
	p {
		margin-bottom: 20px;

		font-size: 16px;
		line-height: 1.875;
		color: $title;
	}
	blockquote {
		margin: 30px 0 40px;
		padding: 30px 90px 30px 40px;

		background-color: rgba($accent, 0.2);
		border-left: 6px solid $accent;

		@extend %rubik-400;
		font-size: 16px;
		line-height: 1.875;
		color: $title;

		& cite {
			position: relative;

			display: block;
			margin-top: 10px;
			padding-left: 45px;

			&::before {
				content: "";
				position: absolute;
				top: 13px;
				left: 0;
				width: 20px;
				height: 3px;
				background-color: $accent;
			}
		}
	}

	img {
		display: block;
		margin-bottom: 20px;
		max-width: 40%;
		height: auto;
		object-fit: cover;
	}
	.left {
		margin-right: 35px;
		float: left;
	}
	.right {
		margin-left: 35px;
		float: right;
	}
}

.blog__post-autor {
	margin: 50px 0;
	padding: 25px 20px 25px 0;

	display: flex;
	justify-content: space-between;
	align-items: center;

	border-top: 2px solid #ebebeb;
	border-bottom: 2px solid #ebebeb;
	&-avatar {
		display: flex;
		align-items: center;
	}
	&-avatar-img {
		margin-right: 27px;
		width: 76px;
		height: 76px;
		object-fit: cover;
	}
	&-name {
		margin-bottom: 12px;
		@extend %rubik-500;
		font-size: 18px;
	}
	&-prof {
		@extend %rubik-400;
		font-size: 16px;
		color: #666666;
	}
	&-tags {
		margin-bottom: 12px;
		min-width: 220px;
		display: flex;
	}
	&-tags .tags__list {
		display: flex;
	}
	&-tags span {
		margin-right: 30px;
		@extend %rubik-400;
		font-size: 16px;
		color: #333;
	}
	&-tags ul {
		@extend %rubik-400;
		font-size: 16px;
		color: #999;
	}
	&-tags li {
		margin-right: 5px;
	}
	&-tags a {
		color: inherit;
		&:hover {
			color: $accent;
		}
	}

	&-social {
		display: flex;
	}
	&-social a {
		padding: 5px;
	}
	&-social span {
		margin-right: 20px;
	}
	.social__list li {
		display: inline-block;
	}
	.social__list li + li {
		margin-left: 7px;
	}
	.social__list svg {
		path {
			fill: #a1a1a1;
			transition: all 0.3s linear;
		}
	}
	.social__list a:hover {
		svg path {
			fill: $accent;
		}
	}
}

.comments {
	&__num,
	&__leave {
		margin-bottom: 25px;
		@extend %rubik-700;
		font-size: 24px;
		color: $blue-midle;
	}
	&__item {
		padding-top: 30px;
		display: flex;
		&--reply {
			padding-left: 130px;
		}
	}
	&__img {
		margin-right: 30px;

		width: 100px;
		height: 100px;
		object-fit: cover;
	}
	&__top {
		margin-bottom: 23px;
		display: flex;
		justify-content: space-between;
	}
	&__author {
		@extend %rubik-700;
		font-size: 16px;
		color: $blue-midle;
	}
	&__date {
		@extend %rubik-400;
		font-size: 14px;
		color: #9e9e9e;
	}
	&__body {
		padding-bottom: 30px;
		border-bottom: 1px solid #e0e0e0;
	}
	&__text {
		margin-bottom: 20px;

		@extend %rubik-400;
		font-size: 16px;
		line-height: 1.875;
		color: #565872;
	}
	&__reply-link {
		position: relative;
		@extend %rubik-400;
		font-size: 14px;
		color: #526278;
		&::after {
			content: url("../images/icons/arrow-right-darck-blue.svg");
			position: absolute;
			top: 0;
			right: -30px;
		}
	}



	// === Leave A Comment Form ===
	&__form-box{
		padding-top: 70px;
	}
	&__leave{
		margin-bottom: 45px;
	}

	&__input-inner{
		margin-bottom: 20px;

		display: flex;
		max-width: 830px;
		width: 100%;
		justify-content: space-between;

	}
	&__form input,
	&__form textarea {
		border: 1px solid rgba(#000, .1);
		@extend %rubik-400;
		font-size: 16px;
		color: #333;
		transition: border-color .3s linear;
		&::placeholder{
			position: relative;
			color: #999;
		}

		

		&:focus{
			border-color: $accent;
		}
	}

	&__form-input-name {
		background: url('../images/icons/form-user.svg') 95% 50% no-repeat;
	}
	&__form-input-email {
		background: url('../images/icons/form-letter.svg') 95% 50% no-repeat;
	}
	&__form-textarea {
		background: url('../images/icons/form-comment.svg') 97.7% 19% no-repeat;
	}


	
	&__form input {
		padding: 15px 50px 15px 20px;

		max-width: 400px;
		width: 100%;
		height: 50px;

		@extend %rubik-400;
		font-size: 16px;
		color: #333;
	}
	&__form-textarea{
		margin-bottom: 40px;
		padding: 15px 50px 15px 20px;

		display: block;
		width: 100%;
		height: 120px;
		border: 1px solid rgba(#000, .1);
		resize: none;
	}
	
	&__form-btn{
	display: inline-block;
	@extend %rubik-400;
	font-size: 14px;
	line-height: 50px;
	letter-spacing: 0.1em;
	color: #fff;
	height: 50px;
	width: 190px;
	background-color: $accent;
	}
}


// ==== Contact =======
.contact{
	&__inner{
		padding-top: 115px;
	}
	&__subtitle{
		margin-bottom: 20px;

		@extend %poppins-700;
		font-size: 16px;
		color: #A3BBC8;
		text-align: center;
	}
	&__title{
		margin-bottom: 65px;

		@extend %dmsans-700;
		font-size: 35px;
		color: $blue-midle;
		text-align: center;
	}
	&__items{
		margin-bottom: 120px;

		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__item{
		padding-top: 70px;
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 370px;
		width: 100%;
		height: 375px;

		background-color: #fbfbfb;
		border: 2px solid #fbfbfb;

		transition: border-color .3s linear;

		.contact__item-icon svg path {
			transition: fill .3s linear;
		}

		&:hover{
			border: 2px solid $accent;

			.contact__item-icon svg path {
				fill: #fff;
			}
			.contact__item-icon{
				background-color: $accent;
			}
		}
	}

	&__item-icon{
		margin-bottom: 60px;

		display: flex;
		justify-content: center;
		align-items: center;
		width: 80px;
		height: 80px;
		border-radius: 20px;
		background-color: #fff;
		box-shadow: 0px 6px 57px rgba(37, 37, 37, 0.05);

		transition: background-color .3s linear;
	}
	
	&__item-title{
		margin-bottom: 15px;

		@extend %dmsans-700;
		font-size: 20px;
		color: #222;
	}
	&__text{
		@extend %rubik-400;
		font-size: 16px;
		line-height: 1.875;
		color: #565872;
		text-align: center;
	}







	// === Contact Form ===
	&__form-box{
		width: 620px;
	}
	&__form{
		display: block;
		width: 100%;
	}
	

	&__input-inner{
		margin-bottom: 25px;

		display: flex;
		max-width: 620px;
		width: 100%;
		justify-content: space-between;

	}
	&__form input,
	&__form textarea {
		border: 1px solid rgba(#000, .1);
		@extend %rubik-400;
		font-size: 16px;
		color: #333;
		transition: border-color .3s linear;
		&::placeholder{
			text-transform: uppercase;
			position: relative;
			color: #565872;
		}

		

		&:focus{
			border-color: $accent;
		}
	}

	&__form-input-name {
		background: url('../images/icons/form-user.svg') 95% 50% no-repeat;
	}
	&__form-input-email {
		background: url('../images/icons/form-letter.svg') 95% 50% no-repeat;
	}
	&__form-textarea {
		background: url('../images/icons/form-comment.svg') 97.7% 11% no-repeat;
	}


	
	&__form input {
		padding: 15px 50px 15px 20px;

		max-width: 300px;
		width: 100%;
		height: 50px;

		@extend %rubik-400;
		font-size: 16px;
		color: #333;
		background-color: #f5f5f5;
	}
	&__form-textarea{
		margin-bottom: 30px;
		padding: 15px 50px 15px 20px;

		display: block;
		max-width: 620px;
		width: 100%;
		height: 175px;
		border: 1px solid rgba(#000, .1);
		background-color: #f5f5f5;
		resize: none;
	}
	
	&__form-btn{
	display: inline-block;
	@extend %poppins-600;
	font-size: 15px;
	line-height: 50px;
	color: #fff;
	height: 50px;
	width: 200px;
	background-color: $accent;
	border-radius: 5px;
	}


	&__bottom-box{
		display: flex;
		justify-content: space-between;
	}

// ==== Map ====
	&__map{
		width: 500px;
		height: 335px;
	}
}

.articles.articles--contact{
	.title.articles__title{
		color: #436372;
	}
	.articles__header-link{
		color: #436372;
	}
}

.pages__list{
	padding-top: 100px;
	&__list-items{
		text-align: center;
	}
}







