$orange: #fcd7b6;
$orange-light: #fef7f0;
$orange-midle: #feefe2;
$black: #191919;
$grey: #8b8b8b;
// $blue-light: #a3bbc8;
$accent: #a3bbc8; //color: $accent;
$bg: #edf1f4;
// $blue-darck: #243f4d;
$title: #243f4d; //color: $title;
$blue-midle: #436372;


// @extend %dmsans-400;
%dmsans-400 {
  font-family: "DMSans", sans-serif;
  font-weight: 400;
}

// @extend %dmsans-500;
%dmsans-500 {
  font-family: "DMSans", sans-serif;
  font-weight: 500;
}

// @extend %dmsans-700;
%dmsans-700 {
  font-family: "DMSans", sans-serif;
  font-weight: 700;
}

// @extend %poppins-600;
%poppins-600 {
  font-family: "Poppins-SemiBold", sans-serif;
  font-weight: 600;
}

// @extend %poppins-700;
%poppins-700 {
  font-family: "Poppins-Bold", sans-serif;
  font-weight: 700;
}

// @extend %rubik-300;
%rubik-300 {
  font-family: "Rubik-Light", sans-serif;
  font-weight: 300;
}

// @extend %rubik-400;
%rubik-400 {
  font-family: "Rubik-Regular", sans-serif;
  font-weight: 400;
}

// @extend %rubik-500;
%rubik-500 {
  font-family: "Rubik-Medium", sans-serif;
  font-weight: 500;
}

// @extend %rubik-700;
%rubik-700 {
  font-family: "Rubik-Bold", sans-serif;
  font-weight: 700;
}

// @extend %checkbox-hidden;
%checkbox-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}