$orange: #fcd7b6;
$orange-light: #fef7f0;
$orange-midle: #feefe2;
$black: #191919;
$grey: #8b8b8b;
$blue-light: #a3bbc8;
$blue-darck: #243f4d;
$blue-midle: #436372;


// @extend %dmsans-400;
%dmsans-400 {
  font-family: "DMSans", sans-serif;
  font-weight: 400;
}

// @extend %dmsans-500;
%dmsans-500 {
  font-family: "DMSans", sans-serif;
  font-weight: 500;
}

// @extend %dmsans-700;
%dmsans-700 {
  font-family: "DMSans", sans-serif;
  font-weight: 700;
}

// @extend %poppins-700;
%poppins-700 {
  font-family: "Poppins-Bold", sans-serif;
  font-weight: 700;
}

// @extend %rubik-400;
%rubik-400 {
  font-family: "Rubik-Regular", sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: "Rubik-Medium", sans-serif;
  font-weight: 500;
}