$orange: #fcd7b6;
$orange-light: #fef7f0;
$orange-midle: #feefe2;
$black: #191919;
$grey: #8b8b8b;
$blue-light: #a3bbc8;

%mdsans-400 {
  font-family: "Rubik-Regular", sans-serif;
  font-weight: 400;
}

%mdsans-500 {
  font-family: "Rubik-Medium", sans-serif;
  font-weight: 500;
}

%mdsans-700 {
  font-family: "Rubik-Bold", sans-serif;
  font-weight: 700;
}

%poppins-700 {
  font-family: "Poppins-Bold", sans-serif;
  font-weight: 700;
}

%rubik-400 {
  font-family: "Rubik-Regular", sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: "Rubik-Medium", sans-serif;
  font-weight: 500;
}